body {
  display: flex;
  justify-content: center;
}

header {
  justify-content: center;
  border-bottom: 1px solid red;
  width: 980px;
}
header nav {
  display: flex;
  justify-content: right;
}
header nav li {
  padding: 1rem;
  list-style: none;
}
header nav li:hover {
  font-weight: bold;
  cursor: pointer;
}
